body {
}

#buttons {
    right: 5px;
    position: absolute;
    right: 10%;
    top: 125px;
    margin: 5px;
}

.displayProducts {
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    width: 60%;
}

/*.displayProducts:before {
  content: "";
  position: absolute;
-webkit-border-image: 
      -webkit-gradient(linear, 0 50%, 0 0, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
  top: 125px;
  bottom: 150px;
  width: 3px;
    }*/


#products{
    margin:20px;
    border-bottom: 1px dotted  black;
    border-color: black;
    
}

#quantity{
    text-align: right;
    right: auto;

}

.header{
    
    border-left: 50px solid white;
}

/*#products:before{
      content: "";
  position: absolute;
-webkit-border-image: 
      -webkit-gradient(linear, 0 50%, 0 0, from(black), to(rgba(0, 0, 0, 0))) 1 50%;

  right:30%;
  top: 125px;
  bottom: 150px;

  width: 2px;
}*/

.buttonsize {
    border: 3px solid black;
    -webkit-border-image: -webkit-linear-gradient( rgba(0, 0, 0, 0),black, rgba(0, 0, 0, 0)) 1 80%;
    background-color: #62615C;
    border-radius: 5px;
    margin: 2px;
    color: #E0E0E0;
    height: 50px;
    width: 100px;
}

.buttonsize:hover {
        background-color: #908f89;
    }
