body {
}

#buttons{
    
    right:5px;
    position:absolute;
    right:10%;
    top:125px;
    margin: 5px;
}

#displayProducts {
    width: 60%;
    background-color: aqua;
}

.buttonsize
{

     border: 3px solid black;
    -webkit-border-image: 
        -webkit-linear-gradient( rgba(0, 0, 0, 0),black, rgba(0, 0, 0, 0)) 1 80%;
    background-color: #62615C;
    border-radius: 5px;
    margin: 2px;
    color: black;
        height: 50px;
    width: 100px;
}

.buttonsize:hover {
        background-color: #908f89;
    }