
.fontface1 {
    font-family: 'Fredericka the Great', cursive;
    font-style:oblique;
}

#banner1
{
    background-color:whitesmoke;
     
}

#bottomlayout{
    height:220px;
}

#banneritem{
    border-style:groove;
    border-bottom-width:2px;
    border-top-width:4px;
    border-top-color:gray;
    border-bottom-color:black;
}

#Aboutid {
    background-color:#D43943;
    position:absolute;
    top:550px;
}

.boundaries
{
    border-left-style:groove;
    border-right-style:groove;
    border-width:2px;
}

.fontcolorclass{
    color:white;
}



.productsview
{
    background-color:white;
}

a:link{
    text-decoration:none;    
    font-family: 'Alice', serif;
    font-size: large;
}

#fontcolorface{
    color: #8A6D3B;
   
}

#fontcolorface:hover{
         color:#47381f;
}

 a:hover{
     color:#47381f;
 }