#footer {
    background-image: url('../Images/Banner.png');
    background-color: black;
    background-position-x: center;
    background-position-y: center;
    background-size: 80%;
    background-repeat: repeat-x;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 100px;
}

@media (max-width: 430px) and (max-height:430px) {

    body {
        background-image: url('../Images/logo.png');
        background-repeat: no-repeat;
        background-color: black;
        background-size: 100%;
    }

    div {
        display: none;
    }
}

#firstLink{
    background: -webkit-linear-gradient(#ea5d48,#D03018);
}

#hover{
    background: -webkit-linear-gradient(#ff964d,#FF6900);
}

#thirdLink{
    background: -webkit-linear-gradient(#fbdc9d,#F8C761);
}

#fourthLink{
    background: -webkit-linear-gradient(#cccccc,#a6a6a6);
}
#rightNavBarRegister{
    background: -webkit-linear-gradient(#aa9b88,#8B7963);
}
#rightNavBarLogin{
    background: -webkit-linear-gradient(#868279,#64615a);
    
}


/*Hover over effects*/
#firstLink:hover{
        background: -webkit-linear-gradient(#f29a8d,#ea5d48);
        color:#43413d;
}
#hover:hover{
    background: -webkit-linear-gradient(#ffb480,#ff964d);
    color:#43413d;
}
#thirdLink:hover{
    background: -webkit-linear-gradient(#fbdb9d,#fbdc9d);
            color:#43413d;
}
#fourthLink:hover{
    background: -webkit-linear-gradient(#d9d9d9,#bfbfbf);
            color:#43413d;
}
#rightNavBarRegister:hover{
    background: -webkit-linear-gradient(#b5a797,#9f8e79);
            color:#43413d;
}
#rightNavBarLogin:hover{
    background: -webkit-linear-gradient(#928e86,#79756d);
            color:#43413d;
    
}


div.relative {

    position: fixed;
    background-color: #FBFBFB;
    width: 600px;
    height: 600px;
    border-width: 2px;
    border-left-style: ridge;
    border-right-style: ridge;
    border-bottom-style: ridge;
    display: none;
    top: 50px;
    z-index: 10;
   
}

#hover:hover .relative{
    display:block;
}

div.static {
    padding-right: 4px;
    /*position:static;*/
    position: absolute;
    left: 50px;
    top: 10px;
    width: 160px;
   
}

div.absolute-centre {
    /*  padding-left:4px;*/
    position: absolute;
    right: 212px;
    top: 10px;
    width: 160px;
}

div.absolute-centre-middle {
    position: absolute;
    left: 0px;
    top: 150px;
}

div.absolute-centre-bottom {
    position: absolute;
    top: 300px;
}

div.absolute-right {
    padding-left: 4px;
    position: absolute;
    right: 3px;
    top: 10px;
    width: 160px;
}

div.verticalline1 {
    position: absolute;
    width: 1px;
    /*background-color:gray;*/
    border: 1px ridge;
    right: 410px;
    height: 400px;
    top: 22px;
}

div.verticalline2 {
    position: absolute;
    width: 1px;
    /* background-color:gray;*/
    border: 1px ridge;
    right: 198px;
    top: 22px;
    height: 400px;
}

div.staticmiddle {
    /*  padding-right:4px;   */
    position: absolute;
    left: 0px;
    top: 150px;
}

div.staticbottom {
    position: absolute;
    left: 0px;
    top: 300px;
}


.fontface {
    font-family: 'Alice', serif;
    font-size: large;
}

.underline {
    text-decoration: underline;
}

img.img1 {
    position: absolute;
    right: 0px;
    top: 378px;
    width: 195px;
}

img.menswear {
    position: absolute;
    top: 378px;
    right: 0px;
    width: 190px;
}

img#babytoys {
    position: absolute;
    right: 18px;
    top: 378px;
}

img#img2 {
    position: absolute;
    top: 150px;
    right: 0px;
    width: 190px;
}

#midPage{
    font-size:100%;
}

#searchBar{
    border-radius:4px;
    background-color:#bbc0c4;
    padding:5px;
    height:35px;

}

@media screen and (max-width:1200px) {
    .fontface{
        font-size:105%;
    }

    #banneritem {
    }

    #poster {
        width: 100%;
        height: 80%;
    }

    #Aboutid {

        position: static;
        top:initial !important;
    }

    #bottomlayout{
        position:static;
        overflow:auto;

    }

}

@media screen and (max-width:254px){
    #Aboutid{
        width:85%;
    }
}

@media (min-width:1200px){
    .lineBreak{
        display:none;
    }
}

