@{
  ViewBag.Title = "Contact";
}
<h2>Contact</h2>
<h3>
  Problems? Feedback? Need to contact us?
  You can do so here. 
</h3>
<h5>
  We aim to reply within the day of receiving your query.
</h5>

<div id="UKContact">
  <h5>UK Contact</h5>

  <address>
    One Cotton Lane<br />
    London, CR19 5QL<br />
    Phone: 020 9642 5400
  </address>

  <address>
    <strong>Email:</strong>   <a href="mailto:Gael.Bouyer@fdmgroup.com">Gael.Bouyer@fdmgroup.com</a>
  </address>
</div>

<div id="EuropeContact">
  <h5>Europe Contact</h5>

  <address>
    One Cotton Lane<br />
    London, CR19 5QL<br />
    Phone: 020 9642 5400
  </address>

  <address>
    <strong>Email:</strong>   <a href="mailto:Gael.Bouyer@fdmgroup.com">Gael.Bouyer@fdmgroup.com</a>
  </address>
</div>

<div id="AmericanContact">
  <h5>American Contact</h5>

  <address>
    One Cotton Lane<br />
    London, CR19 5QL<br />
    Phone: 020 9642 5400
  </address>

  <address>
    <strong>Email:</strong>   <a href="mailto:Gael.Bouyer@fdmgroup.com">Gael.Bouyer@fdmgroup.com</a>
  </address>
</div>