<h2>Contact</h2>
<h3>
  Problems? Feedback? Need to contact us?
  You can find our details here. 
</h3>
<h5>
  We aim to reply within the day of receiving your query.
</h5>

<div class="jumbotron">

</div>
<div id="addresswrapper" class="row">
    <div  class="col-md-4">
        <h4>UK Contact</h4>

        <address>
            One Cotton Lane<br />
            London, CR19 5QL<br />
            United Kingdom<br />
            Phone: 020 9642 5400
        </address>

        <address>
            <strong>Email:</strong>   <a href="mailto:Gael.Bouyer@fdmgroup.com">Gael.Bouyer@fdmgroup.com</a>
        </address>
    </div>

    <div  class="col-md-4">
        <h4>Europe Contact</h4>

        <address>
            One Whirl Way<br />
            Vienna, VI697Z<br />
            Italy<br />
            Phone: 795 1363 6250
        </address>

        <address>
            <strong>Email:</strong>   <a href="mailto:Hannah.Mohamed@fdmgroup.com">Hannah.Mohamed@fdmgroup.com</a>
        </address>
    </div>

    <div class="col-md-4">
        <h4>American Contact</h4>

        <address>
            10 Wall Street<br />
            New York, NY3 785<br />
            USA<br />
            Phone: 375 5482 7951
        </address>

        <address>
            <strong>Email:</strong>   <a href="mailto:Francel.Herrera@fdmgroup.com">Francel.Herrera@fdmgroup.com</a>
        </address>
    </div>
</div>