@{
    ViewBag.Title = "Home Page";
}


<center>
    <div>
        @* This is for the search bar *@
        @using (Ajax.BeginForm(
                new AjaxOptions
                {
                    HttpMethod = "GET",
                    UpdateTargetId = "midPage",
                    InsertionMode = InsertionMode.Replace

                }))
        {
            <p>
                Search:@Html.TextBox("searchInput")
                <input type="submit" value="Search" />


            </p>
        }
    </div>
</center>

<div id="midPage">
    <div id="banner1">
        <div id="banneritem"><h1><span class="fontface1">The Dragon&rsquo;s Hoard</></span></h1></div>
        <span><img src="http://localhost:55805/discount.gif" width="1140" height="400"></span>
        <div id="Aboutid" class="fontface btn btn-default">About Dragon&rsquo;s Hoard</div>
        <div id="bottomlayout">
        <br />
        <span class="fontface">
        Earth's Most Customer-Centric Company
        The Dragon&rsquo;s Hoard, a Fortune 500 company based in Seattle,
        Washington, is the global leader in e-commerce.
        Since Jeff Bezos started Amazon in 1995,
        we have significantly expanded our product offerings,
        international sites, and worldwide network of fulfillment
        and customer service centers. Today, Amazon offers everything
        from books and electronics to tennis rackets and diamond jewelry.
        We operate sites in Canada, China, France, Germany, Italy, Japan,
        Spain and United Kingdom and maintain dozens of fulfillment centers around the world.

        We've Only Just Begun

        This evolution of Amazon from Web site to e-commerce partner to development platform is driven by the spirit of innovation that is part of the company's DNA. E-commerce is still in its infancy. In the years to come, you'll see Amazon create new technologies, expand into more geographies and continue to improve the lives of shoppers and sellers around the world.
        </span>
    </div>
    </div>





    <div class="row">
        <div class="col-md-3">
            <h2>Products</h2>
            <p>
                Product descriptions.
            </p>
            <p><a class="firstLink" href="/Home/About">Product link &raquo;</a></p>
        </div>

        <div class="col-md-3">
            <h2>More Products</h2>
            <p>Product descriptions.</p>
            <p><a class="secondLink" href="/Home/About">Product link &raquo;</a></p>
        </div>

        <div class="col-md-3">
            <h2>More Products</h2>
            <p>More descriptions.</p>
            <p><a class="thirdLink" href="/Home/About">Product link &raquo;</a></p>
        </div>

        <div class="col-md-3">
        <h2>More Products</h2>
        <p>More descriptions.</p>
        <p><a class="thirdLink" href="/Home/About">Product link &raquo;</a></p>
    </div>
    </div>

    <div class="row" id="lowerPage">
        <div class="col-md-3">
        <h2>Products</h2>
        <p>
        Product descriptions.
        </p>
        <p><a class="firstLink" href="/Home/About">Product link &raquo;</a></p>
        </div>

        <div class="col-md-3">
            <h2>More Products</h2>
            <p>Product descriptions.</p>
            <p><a class="secondLink" href="/Home/About">Product link &raquo;</a></p>
        </div>

        <div class="col-md-3">
        <h2>More Products</h2>
        <p>More descriptions.</p>
        <p><a class="thirdLink" href="/Home/About">Product link &raquo;</a></p>
    </div>

    <div class="col-md-3">
    <h2>More Products</h2>
    <p>More descriptions.</p>
    <p><a class="thirdLink" href="/Home/About">Product link &raquo;</a></p>
    </div>
    </div>

    <div class="row">
    </div>

</div>



