@{
    ViewBag.Title = "Home Page";
}


<center>
    <div>
        @* This is for the search bar *@
        @using (Ajax.BeginForm(
                new AjaxOptions
                {
                    HttpMethod = "GET",
                    UpdateTargetId = "midPage",
                    InsertionMode = InsertionMode.Replace
                }))
        {
            <p>
                Search:@Html.TextBox("searchInput")
                <input type="submit" value="Search"/>


            </p>
        }
    </div>
</center>

<div class="jumbotron">
    <h1>The Dragon&rsquo;s Hoard</h1>
</div>

<div class="row" id="midPage">
    <div class="col-md-4">
        <h2>Products</h2>
        <p>
            Product descriptions.
        </p>
        <p><a class="firstLink" href="/Home/About">Product link &raquo;</a></p>
    </div>

    <div class="col-md-3">
        <h2>More Products</h2>
        <p>Product descriptions.</p>
        <p><a class="secondLink" href="/Home/About">Product link &raquo;</a></p>
    </div>

    <div class="col-md-3">
        <h2>More Products</h2>
        <p>More descriptions.</p>
        <p><a class="thirdLink" href="/Home/About">Product link &raquo;</a></p>
    </div>

    <div class="col-md-3">
        <h2>More Products</h2>
        <p>More descriptions.</p>
        <p><a class="thirdLink" href="/Home/About">Product link &raquo;</a></p>
    </div>
</div>