@model EcommerceProject.DataModel.Product

@if (Model == null)
{
  <h1>No product have been found.</h1>
}
else
{
  <h2>
    <img src=@Model.imageurl style="width:80px;height:80px" id="prodImage"/>
      <span id="namePartialView">@Model.name </span> <br/>
      <a href="Product/Index/@Model.id"><span id="pricePartial">£@Model.price</span></a>
  </h2>

}


