@model EcommerceProject.Website.Controllers.BasketController


@{
    EcommerceProject.Website.Controllers.BasketController obj = new EcommerceProject.Website.Controllers.BasketController();
    obj.GetBasketProducts();
    var products = obj.ProductsInBasket;
    if (products.Values.Count == 0)
    {
        <div>
            <h1 class="header">There are no products in your basket!</h1>
            <br/>
            <br/>
        </div>
    }
    else
    {
        
            <h2 class="header">Products In Basket:</h2><br/>

        foreach (var product in products)
        {

            <div class="displayProducts">
                <div id="products">
                    @Html.Partial("_PartialProductView", product.Key)
                    <div id="quantity">
                        Quantity: @product.Value.ToString()
                    </div>
                </div>
                <br/>
                <br />
            </div>
        }


    }
}
@Styles.Render("~/Content/Basket.css")
