@model List<EcommerceProject.Website.WebsiteBasketHost.BasketItem>


<h2 class="header">Products In Basket:</h2><br />

@foreach (var product in Model)
{
  <div class="displayProducts">
    <div id="products">
      @Html.Partial("_PartialProductView", product.product)
      <div id="quantity">
        Quantity: @product.itemCount
      </div>
    </div>
    <br />
    <br />
  </div>
}

@Styles.Render("~/Content/Basket.css")
