
@{
    ViewBag.Title = "Confirmation Note";
}
<br/><br/><br/>
<div>
   <p>Dear CustomerName,<br/>
    Thank you for ordering via The Dragon's Hoard.<br/>
    Your order reference is (ref number)
    </p>
</div>
<br/>
<div>
    <div class="">Delivery Details</div>
    <p>Standard Delivery</p>
    <div>Your order</div>
</div>
<h2>Confirmation</h2>

