@model Dictionary<EcommerceProject.DatabaseModel.ProductData, int>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div >
        <div >

            @Html.Partial("_BasketProductListView")

        </div>
    </div>
    <div id="buttons">
        <button class="buttonsize">
            Update Basket
        </button>
        <br />

        <button class="buttonsize" onclick="location.href='Basket/ConfirmationPage'">
            Checkout
        </button>
    </div>
</div>

@Styles.Render("~/Content/Basket.css")
