<link href='https://fonts.googleapis.com/css?family=Allan:400,700' rel='stylesheet' type='text/css'>
@model EcommerceProject.DatabaseModel.ProductData

<img id="img" src=@Model.imageurl style=" height:300px;width:300px" />
<div id="product">
  <h2>@Model.product_name</h2><br />
  <h4>£@Model.price</h4>
  <h5>@Model.stock left in stock</h5>
    <button type="button" class="btn btn-primary btn-lg" data-toggle="tooltip" title="Add to the Basket" data-placement="right">Add to Basket</button>
</div>

<br/>
<div id="product_description">
  <h2>Description</h2>
  @Model.description
</div>

@Styles.Render("~/Content/ProductPage.css")